html body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body.fondo {
    background-color: #C0DDF7 
}

#buttonReset {
    color: #fff;
    background-color:#252739;
    border-color: #252739;
    float: right;
    margin-right: -10%;
    display: flex;
    margin-right: 7px;
}

